{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    // "plugin:vue/recommended",
    "plugin:vue/vue3-essential",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "eslint-config-prettier"
  ],
  "overrides": [],
  "parser": "vue-eslint-parser", // 解析vue
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": ["./tsconfig.node.json", "./tsconfig.json"],
    "extraFileExtensions": [".vue"],
    "sourceType": "module"
  },
  "plugins": ["vue", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    // 强制一行的最大长度，限制单行不能超过 120 个字符，字符串和正则表达式除外
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreRegExpLiterals": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "prefer-const": "error",
    // 未使用变量
    "@typescript-eslint/no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    // 允许any
    "@typescript-eslint/no-explicit-any": "off",
    // 非空断言
    "@typescript-eslint/no-non-null-assertion": "off",
    "vue/multi-word-component-names": "off" // vue组件模板名称
  },
  // 忽略构建产物 dist、单测覆盖率报告 coverage，开启.rc 配置文件的检查（默认忽略 node_modules）
  "ignorePatterns": ["dist", "!.*rc.cjs", "index.html", "auto-imports.d.ts", "auto-imports.d.ts", "public/js"]
}
