.home {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  }
  .vr {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    animation: slideInLeft 1s 0.15s;
    animation-fill-mode: both;
    &-box {
      display: inline-block;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(8px);
      display: flex;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
      padding: 4px 20px;
      border-radius: 0 0 16px 0;
      border: 1px groove rgba(255, 255, 255, 0.3);
      border-top: none;
      border-left: none;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }
    &-icon {
      display: inline-block;
      height: 64px;
      width: 64px;
      background: url('@/assets/images/home/vr.png') no-repeat center;
      background-size: contain;
      margin-right: 12px;
    }
    &-text {
      font-size: 24px;
      color: #ffffff;
      display: inline-block;
      font-weight: 500;
    }
  }
  .switch {
    position: absolute;
    right: 24px;
    top: 40%;
    z-index: 11;
    animation: slideInRight 1s 0.3s;
    animation-fill-mode: both;
    &-button {
      background: rgba(27, 25, 24, 0.5);
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 11px 8px 11px 24px;
      backdrop-filter: blur(4px);
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      margin-bottom: 30px;
      &:hover {
        background: rgba(27, 25, 24, 0.2);
        box-shadow: 2px 2px 2px #0003;
      }
      &__text {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
      }
      &__icon {
        display: inline-block;
        height: 30px;
        width: 30px;
        background: url('@/assets/images/home/icon_arrow.png') no-repeat center;
        background-size: 100% 100%;
        transform: rotate(180deg);
        margin-left: 8px;
      }
    }
  }
  .point {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    &-label {
      position: absolute;
      top: -16px;
      left: -16px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      text-align: center;
      line-height: 32px;
      font-weight: 100;
      font-size: 14px;
      cursor: help;
      transition: all 0.3s ease-in-out;
      backdrop-filter: blur(3.84px);
      &:before,
      &:after {
        display: inline-block;
        content: '';
        background: #fff;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -10px;
      }
      &__tips {
        height: 88px;
        width: 200px;
        overflow: hidden;
        position: absolute;
        top: -32px;
        right: -220px;
        font-size: 32px;
        background: rgba(255, 255, 255, 0.6);
        border: 2px groove rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(0.02rem);
        border-radius: 14px;
        display: flex;
        align-content: center;
        box-shadow: 2px 2px 2px #0000001a;
      }
    }
    &-cover {
      width: 80px;
      &__icon {
        display: inline-block;
        height: 100%;
        width: 100%;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
      }
    }
    &-info {
      height: 100%;
      overflow: hidden;
      padding-left: 12px;
      flex: 1;
      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        &.p1 {
          font-size: 24px;
          color: #1d1f24;
          font-weight: 800;
          margin: 12px 0 2px;
        }
        &.p2 {
          font-size: 18px;
          color: #00aa47;
          font-weight: 500;
        }
      }
    }
  }
}
.animate-point-wave::before {
  content: '';
  animation: bounce-wave 1.5s infinite;
}
.animate-point-wave::after {
  content: '';
  animation: bounce-wave 1.5s -0.4s infinite;
}
@keyframes bounce-wave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3.6);
    opacity: 0;
  }
}
