$min-width: 900px;
$message-font-size: 46px;

$primary-color: #409eff;

@mixin multyline-ellipsis($line: 2) {
  overflow: hidden;
  text-overflow: ellipsis; //文本溢出显示省略号
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
