.games {
  --yellow-color: #f9f002;
  --border-color: #8ae66e;
  --blue-color: #00e6f6;
  --header-height: 80px;
  --aside-width: 400px;
  --glitched-duration: 0.9s;
}
.games {
  -webkit-filter: saturate(0.85);
  filter: saturate(0.85);
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
  &-header {
    animation: slideInDown 0.75s 0.25s;
    animation-fill-mode: both;
    color: var(--yellow-color);
    height: var(--header-height);
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f9f002;
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 35px),
        75% calc(100% - 35px),
        72.5% 100%,
        27.5% 100%,
        25% calc(100% - 35px),
        0 calc(100% - 35px),
        0 0
      );
    }
    &-logo {
      background: url('@/assets/images/cyberpunk/logo.png') no-repeat 50%;
      background-size: auto 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      filter: drop-shadow(0 1px 5px rgba(0, 100, 200, 0.5));
      height: 180%;
      width: 80%;
    }
    &-inner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  &-mask {
    height: 200vh;
    left: -50%;
    bottom: -50%;
    position: absolute;
    right: -50%;
    top: -50%;
    visibility: visible;
    width: 200%;
    z-index: -1;
    animation: bg-animation 0.2s infinite;
    background: #000 url('@/assets/images/cyberpunk/background.png') repeat 0 0;
  }
}
.box {
  background-color: #000;
  border-right: 5px solid var(--yellow-color);
  border: 30px solid var(--yellow-color);
  border-bottom: 24px solid var(--yellow-color);
  border-left: 5px solid var(--yellow-color);
  border-right-width: 5px;
  box-sizing: border-box;
  clip-path: polygon(
    0 25px,
    26px 0,
    calc(60% - 25px) 0,
    60% 25px,
    100% 25px,
    100% calc(100% - 10px),
    calc(100% - 15px) calc(100% - 10px),
    calc(80% - 10px) calc(100% - 10px),
    calc(80% - 15px) 100%,
    80px 100%,
    65px calc(100% - 15px),
    0 calc(100% - 15px)
  );
  color: var(--yellow-color);
  font-size: 1.2rem;
  height: 31%;
  padding: 4px;
  position: relative;
  transition: all 0.25s linear;
  width: 100%;
  &.dotted {
    background: var(--yellow-color);
    background-image: radial-gradient(rgba(0, 0, 0, 0.129) 1px, transparent 0);
    background-position: -13px -3px;
    background-size: 5px 5px;
    &::before {
      background-color: #000;
      bottom: 9px;
      color: var(--yellow-color);
      content: 'T-71';
      right: 90px;
    }
  }
  &::before {
    background-color: #000;
    border-left: 2px solid var(--border-color);
    bottom: -12px;
    color: var(--yellow-color);
    content: 'P-14';
    display: block;
    font-size: 0.6rem;
    line-height: 0.6rem;
    padding: 2px 2px 0;
    position: absolute;
    right: 25px;
  }
  &-chart {
    height: 100%;
    width: 100%;
  }
}
.aside {
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  justify-content: space-between;
  overflow: hidden;
  padding: 0 16px 16px;
  width: var(--aside-width);
  position: fixed;
  z-index: 2;
  &.left {
    animation: slideInLeft 0.75s 0.25s;
    animation-fill-mode: both;
    left: 0;
  }
  &.right {
    animation: slideInRight 0.75s 0.25s;
    animation-fill-mode: both;
    right: 0;
  }
  &-text {
    background-color: var(--yellow-color);
    border: none;
    border-right: 2px solid var(--border-color);
    clip-path: polygon(
      0 25px,
      26px 0,
      calc(60% - 25px) 0,
      60% 25px,
      100% 25px,
      100% calc(100% - 10px),
      calc(100% - 15px) calc(100% - 10px),
      calc(80% - 10px) calc(100% - 10px),
      calc(80% - 15px) 100%,
      80px 100%,
      65px calc(100% - 15px),
      0 calc(100% - 15px)
    );
    color: #000;
    padding: 40px 15px 30px;
    &.flex-box {
      display: flex;
      justify-content: space-between;
    }
    &::before {
      background-color: #000;
      bottom: 9px;
      color: var(--yellow-color);
      content: 'T-71';
      right: 90px;
    }
  }
}
// @keyframes
@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
